.configuration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #475569;
}

@media screen and (min-width: 768px) {
  .configuration-container {
    align-items: center;
  }
}
.configuration-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  max-width: 550px;
}
@media screen and (min-width: 768px) {
  .configuration-content-container {
    max-width: 1140px;
  }
}

.Layout-heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .Layout-heading {
    font-size: 48px;
  }
}
.inputs-container {
  display: flex;
  flex-direction: column;
}
.label-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  margin-left: 12px;
}
.checkbox-inputs-content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
